@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #002470;

  // @apply flex items-center justify-center;
  // @apply w-screen min-h-screen;

  font-family: "VT323", monospace;
  font-size: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mapgenerator {
  // @apply flex;
}

.map {
  // width: 352px;
  // height: 352px;
  display: flex;
}
.tile {
  @apply flex items-center justify-center;
}
.player {
  background: red;
  width: 16px;
  height: 16px;
}
.water {
  background: blue;
}
.grass {
  background: green;
}
.sand {
  background-color: #ffff88;
}
.mountain {
  background-color: gray;
}

.controls {
  @apply grid grid-cols-3 grid-rows-3 w-24;

  & > div {
    @apply w-8 h-8;
    @apply flex items-center justify-center;
    @apply hover:bg-neutral-800 cursor-pointer;
  }
  & svg {
    @apply w-6 h-6 text-white;
  }
}

.tile-colors {
  background-color: #002470;
  background-color: #0064c8;
  background-color: #4ea6ff;
  background-color: #f0e68c;
  background-color: #9c6101;
  background-color: #00a300;
  background-color: #007c00;
  background-color: #006800;
  background-color: #505050;
  background-color: #3f3f3f;
}

@import "item";
@import "settings";
